body
{
    font: 10pt verdana, arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

form, fieldset
{
    border: none;
    margin: 0px;
    padding: 0px;
}

a, a:visited
{
    color: #3E458F;
    text-decoration: none;
}

a:hover
{
    color: #000000;
    text-decoration: underline;
}

a img
{
    border: none;
}

img.icon
{
    vertical-align: middle;
}

div.header
{
    background-color: #222222;
    color: #ffffff;
    padding: 8px 8px 0px 8px;
}

div.header div.document
{
    height: 90px;
    position: relative;
}

div.header h1.logo
{
    font-size: 16pt;
    font-weight: normal;
    display: inline;
    margin: 0px;
    padding: 0px;
}

div.header div.top-menu
{
    position: absolute;
    bottom: 0px;
}

div.header div.main-menu
{
    left: 0px;
}

div.header div.admin-menu
{
    right: 0px;
}

div.header div.top-menu ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div.header div.top-menu ul li
{
    display: inline;
}

div.header div.top-menu ul li a,
div.header div.top-menu ul li a:visited
{
    color: #ffffff;
    float: left;
    line-height: 2em;
    margin-left: 4px;
    padding: 3px 12px;
    text-decoration: none;
    
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius-topleft: 5px;
    -webkit-border-radius-topright: 5px;
    border-radius-topleft: 5px;
    border-radius-topright: 5px;
}

div.header div.admin-menu ul li a
{
    background-color: #7F2727;
}

div.header div.main-menu ul li a
{
    background-color: #444444;
}

div.header div.top-menu ul li.current a,
div.header div.top-menu ul li.current a:visited,
div.header div.top-menu ul li a:hover
{
    background-color: #e2e2e2;
    color: #191919;
}

div.header div.user
{
    background-color: #e2e2e2;
    color: #191919;
    float: right;
    padding: 4px 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.header div.user a,
div.header div.user a:visited
{
    color: #4f4f4f;
    text-decoration: none;
}

div.header div.user a:hover
{
    color: #000000;
    text-decoration: underline;
}

div.document
{
    margin: 0px auto;
    text-align: left;
    width: 906px;
}

div.body
{
    background-color: #e2e2e2;
}

div.body div.document
{
    padding: 16px 0px;
}

div.main
{
    background-color: #ffffff;
    float: left;
    width: 65%;
    
    padding: 6px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-radius-topleft: 6px;
    -webkit-border-radius-bottomleft: 6px;
    border-radius-topleft: 6px;
    border-radius-bottomleft: 6px;
}

div.main h2
{
    font-weight: normal;
    margin-top: 0px;
}

div.sidebar
{
    background-color: #c9c9c9;
    float: left;
    width: 35%;
    
    padding: 6px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-radius-topright: 6px;
    -webkit-border-radius-bottomright: 6px;
    border-radius-topright: 6px;
    border-radius-bottomright: 6px;
}

div.quick-link
{
    line-height: 1.75em;
}

div.sidebar h3
{
    font-weight: normal;
    margin-top: 0px;
}

div.footer
{
    background-color: #222222;
    color: #ffffff;
    font-size: 9pt;
    padding: 8px 8px 8px 8px;
}

div.clear
{
    clear: both;
}


/* VALIDATION ERRORS */

div.validation-errors {
	background-color: #FFDFDF;
	border-top: 1px solid #ff9f9f;
	border-bottom: 1px solid #ff9f9f;
	margin-bottom: 8px;
	padding: 8px 4px;
}

div.validation-errors ol {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.validation-errors img {
	vertical-align: middle; 
}


/* FLASH MESSAGE */

div#flash-message {
	background-color: #e4ffcf;
	border-bottom: 1px solid #8fdf53;
	border-top: 1px solid #8fdf53;
	line-height: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 4px 8px;
}

div#flash-message img {
	vertical-align: middle;
}